body {
    font-family: Arial;
    background-color:lavender;
}

.container {
    width: 400px;
    margin: 60px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 15px gray;
    text-align: center;
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

button {
    background:blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.card {
    background-color:pink;
    padding: 10px;
    border-radius: 5px;
    border-left: 4px solid pink;
    text-align: left;
}